@page "/writers"

@inject NavigationManager navigator
@inject IApiGetServices<AllWritersResponse> getWriters
@inject IAuthenticationServices authenticate
@inject ISelectServices getSelect
@inject IApiGetServices<UserProfileResponse> getProfile
@inject IApiPatchServices<CountsResponse,FollowUserRequest> followUser
@inject IJSRuntime JsRuntime

<PageTitle>Writers - OutScribed</PageTitle>

@if (Info != null)
{
    <div id="quick-info">@Info</div>
}


<div id="modal" class="@(IsModalOpen ? "active" : null)">

    <a href="#" class="close-modal-wrapper" @onclick:preventDefault="true" @onclick='() => CloseModal()'></a>

    <div class="@(IsExpandModal ? $"inner-modal expand" : $"inner-modal")">

        @if (Components != null && Components.Any())
        {

            @foreach (var component in Components.OrderBy(c => c.Date))
            {

                <div @key="component" class="@(component == Components.First() ? $"modal-contents first {component.ComponentClass}" : $"modal-contents {component.ComponentClass}")">

                    @if (component.ComponentType == ComponentTypes.UserProfile)
                    {
                        if (component.HasContents)
                        {

                            <UserProfileComponent Component="component"
                            OnExpandModal="ExpandModal"
                            OnAddComponent="AddComponent"
                            OnSetInfo="SetInfo"
                            OnRemoveComponent="RemoveComponent" />

                        }

                    }
                    else if (component.ComponentType == ComponentTypes.LoginUser)
                    {
                        if (component.HasContents)
                        {

                            <LoginUserForm Component="component"
                            OnRemoveComponent="RemoveComponent"
                            OnExpandModal="ExpandModal" />
                        }

                    }

                </div>

            }

        }

    </div>

</div>

<HeaderComponent Tab="@NavTabs.None" />

<NavigationComponent Tab="@NavTabs.Writers" @ref="Navigation" />

<main>

    @if (InputError == null)
    {

        if (HasInput)
        {

            <div class="filter-container">

                <p class="line"></p>

                <div class="filter-header alt">

                    <p>
                        @Input.CounterToString
                    </p>

                    <div class="filter-links">
                        <a href="#" class="filter" @onclick:preventDefault="true" @onclick='() => IsShowFilter = !IsShowFilter'>
                            Filter
                        </a>

                    </div>

                </div>

                <p class="line"></p>

            </div>

            <div class="@(IsShowFilter ? "filter-contents active" : "filter-contents")">

                <div class="form-container alt">

                    <fieldset>

                        <select class="form-field" @onchange="@CountryClicked">

                            <option value="-1"></option>

                            @foreach (var country in Countries)
                            {
                                if (Country != null && country.Value == int.Parse(Country))
                                {
                                    <option value="@country.Value" selected="selected">@country.Text</option>
                                }
                                else
                                {
                                    <option value="@country.Value">@country.Text</option>
                                }
                            }

                        </select>

                        <label class="@(string.IsNullOrEmpty(Country) || Country == "-1" ? null : "stay")">Filter by Country</label>

                    </fieldset>

                    <fieldset class="username">

                        <InputText @bind-Value=@Username id="Username" class="form-field" />

                        <label class="@(Username == null || string.IsNullOrEmpty(Username) ? null : "stay")">Filter by Username</label>

                    </fieldset>

                    <fieldset>

                        <InputText @bind-Value=@Keyword id="Keyword" class="form-field" />

                        <label class="@(string.IsNullOrEmpty(Keyword) ? null : "stay")">Filter by Keyword</label>

                    </fieldset>

                    <fieldset>

                        <select class="form-field" @onchange="@SortClicked">

                            <option value="-1"></option>

                            @foreach (var sort in Sorts)
                            {
                                if (Sort != null && sort.Value == int.Parse(Sort))
                                {
                                    <option value="@sort.Value" selected="selected">@sort.Text</option>
                                }
                                else
                                {
                                    <option value="@sort.Value">@sort.Text</option>
                                }
                            }

                        </select>

                        <label class="@(string.IsNullOrEmpty(Sort) || Sort == "-1" ? null : "stay")">Order Results</label>

                    </fieldset>

                    <div class="button-holder">

                        <button @onclick:preventDefault="true" @onclick='() => LoadInput()'>
                            Get Writers
                        </button>

                    </div>

                </div>

            </div>

            if (Input.Writers != null && Input.Writers.Count > 0)
            {

                <div class="writers-contents-container">

                    @foreach (var writer in Input.Writers)
                    {

                        <div class="writers-contents">

                            <div class="writers-contents-text">

                                <p class="content-subheading">
                                    @writer.CountryToString
                                </p>

                                <div class="writers-contents-image">
                                    <a href="#" @onclick:preventDefault="true" @onclick='() => AddComponent(new ComponentParameters()
                                                    { ComponentType = ComponentTypes.UserProfile, Id = writer.Id})'>
                                        <img src="@writer.DisplayPhotoToString" />
                                    </a>
                                </div>

                                <h1>
                                    <a class="at" href="#" @onclick:preventDefault="true" @onclick='() => AddComponent(new ComponentParameters()
                                                    { ComponentType = ComponentTypes.UserProfile, Id = writer.Id})'>
                                        @writer.Username
                                    </a>
                                </h1>

                                <h2>
                                    Writer Since @writer.WriterDateToString <br />
                                    <a href="#" @onclick:preventDefault="true" @onclick='() => navigator.NavigateTo($"/tales?user={writer.Username}", false)'>
                                        @writer.TalesToString Tales
                                    </a><span class="divider">|</span>@writer.FollowersToString Followers
                                </h2>

                                <p class="content-save">
                                    @if (writer.IsFollowingUser)
                                    {
                                        <a class="right" href="#" @onclick:preventDefault="true" @onclick='() => FollowWriter(writer, false)'>
                                            Stop Following
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="right" href="#" @onclick:preventDefault="true" @onclick='() => FollowWriter(writer, true)'>
                                            Follow
                                        </a>
                                    }
                                </p>

                            </div>

                        </div>

                    }


                </div>


                <div class="navigation-container">

                    <div class="navigation-links">

                        @if (Input.Previous)
                        {
                            <a href="#" class="previous" @onclick:preventDefault="true" @onclick='() => LoadMore(0)'></a>
                        }
                        else
                        {
                            <a href="#" class="previous disabled" @onclick:preventDefault="true"> </a>
                        }
                        @if (Input.Next)
                        {
                            <a href="#" class="next" @onclick:preventDefault="true" @onclick='() => LoadMore(1)'>  </a>
                        }
                        else
                        {
                            <a href="#" class="next disabled" @onclick:preventDefault="true"> </a>
                        }

                    </div>

                </div>

            }
            else
            {
                <div class="no-content">

                    <ErrorGif />

                    <h3>
                        No Result!
                    </h3>

                    @if (Input.Keyword != null)
                    {
                        <p>
                            It appears no writer matches your keywords.
                        </p>
                        <p>
                            Try searching again with more specific keywords. Note that we do not search common words
                            like "is", "are", "them", etc.
                        </p>

                    }
                    else
                    {
                        <p>
                            No writer found!
                        </p>

                    }

                </div>

            }

        }
        else
        {
            <LoadingComponent Type="--- loading writers ---" />
        }
    }
    else
    {
        <ErrorComponent Message=@InputError Type="writers" />
    }


</main>

<FooterComponent />

@code {

    [Parameter]
    public NavigationComponent Navigation { get; set; } = default!;

    bool IsShowFilter { get; set; } = false;

    List<DropdownList> Countries = new();

    List<DropdownList> Sorts = new();


    string? Username { get; set; } = null;

    string? Status { get; set; }

    string? Country { get; set; }

    string? Sort { get; set; }

    private string? Keyword { get; set; }

    public AllWritersResponse Input { get; set; } = default!;


    bool IsModalOpen { get; set; } = false;


    protected void CountryClicked(ChangeEventArgs e)
    {
        Country = e.Value == null ? null : e.Value.ToString();
    }

    protected void SortClicked(ChangeEventArgs e)
    {
        Sort = e.Value == null ? null : e.Value.ToString();
    }

    protected void StatusClicked(ChangeEventArgs e)
    {
        Status = e.Value == null ? null : e.Value.ToString();
    }

    protected override async Task OnInitializedAsync()
    {

        if (RendererInfo.Name == "Static")
        {
            return;
        }
        else if (RendererInfo.Name == "WebAssembly")
        {
            await authenticate.CheckJwtTokenAsync();

        }

        Countries = getSelect.Get<Countries>();

        Sorts = getSelect.Get<SortTypes>();

        Components = new();

        await LoadInput();

    }

    bool HasInput { get; set; } = false;

    private string? InputError { get; set; }


    public string? Info { get; set; }


    public async Task LoadMore(int type)
    {
        if (type == 0)
            Input.Pointer--;
        else if (type == 1)
            Input.Pointer++;

        if (Input.Pointer >= 0)
        {
            await LoadInput();
        }

    }

    public async Task LoadInput()
    {

        await JsRuntime.InvokeVoidAsync("OnScrollToTop", 0);


        IsShowFilter = false;

        HasInput = false;

        InputError = null;

        var url = "users/writers?";

        if (!string.IsNullOrEmpty(Country) && Country != "-1")
        {
            Enum.TryParse(Country, out Countries country);

            url = url + $"country={country}&";
        }

        if (!string.IsNullOrEmpty(Sort) && Sort != "-1")
        {
            Enum.TryParse(Sort, out SortTypes sort);

            url = url + $"sort={sort}&";
        }

        if (!string.IsNullOrEmpty(Username))
        {
            url = url + $"username={Username}&";
        }

        if (!string.IsNullOrEmpty(Keyword))
        {
            url = url + $"keyword={Keyword}&";
        }

        if (Input != null && Input.Pointer > 0)
        {
            url = url + $"pointer={Input.Pointer}&size=5";
        }
        else
        {
            url = url + "size=6";
        }


        var result = await getWriters.GetAsync(url, CancelToken);

        if (result.IsFailure)
        {
            InputError = result.Error ?? "Unknown server error";
        }
        else
        {
            Input = result.Value;
        }


        HasInput = true;

    }

    private async Task SetInfo(string info)
    {

        Info = info;

        StateHasChanged();

        await Task.Delay(5000);

        Info = null;

        StateHasChanged();

    }

    private async Task FollowWriter(WriterSummary writer, bool option)
    {

        if (!await authenticate.CheckJwtTokenAsync())
        {
            navigator.NavigateTo($"/login?returnUrl=/", false);
        }

        FollowUserRequest formData = new()
            {
                UserId = writer.Id,
                Option = option
            };

        var result = await followUser.PatchAsync("accounts/follow", formData, CancelToken);

        if (result.IsFailure)
        {
            await SetInfo("Error: " + result.Error ?? "Unknown server error");

            return;
        }
        else
        {

            writer.IsFollowingUser = option;

            writer.Followers = result.Value.Counts;

            if (option)
            {
                await SetInfo("Writer Followed");

            }
            else
            {
                await SetInfo("Writer Unfollowed");

            }

        }
    }


    bool IsExpandModal { get; set; } = false;

    int ScrollPosition { get; set; }

    List<ComponentParameters> Components { get; set; } = default!;

    private async Task AddComponent(ComponentParameters component)
    {

        shouldRender = false;

        Components.Insert(0, component);

        if (!IsModalOpen)
        {
            IsModalOpen = true;

            await JsRuntime.InvokeVoidAsync("OnModalOpen");
        }

        await authenticate.CheckJwtTokenAsync();

        if (component.ComponentType == ComponentTypes.UserProfile)
        {
            var result = await getProfile.GetAsync($"users/profile/{component.Id}", CancelToken);

            if (result.IsFailure)
            {
                component.ErrorMessage = result.Error ?? "Unknown server error";

            }
            else
            {
                component.Profile = result.Value;
            }
        }

        component.HasContents = true;

        component.ComponentState = ComponentStates.Enter;

        shouldRender = true;

    }

    public async Task RemoveComponent(ComponentParameters component)
    {

        var info = component.Info;

        component.ComponentState = ComponentStates.Leave;

        if (info != null)
        {
            if (component.ComponentType == ComponentTypes.LoginUser)
            {
                await Navigation.Refresh();
            }
        }

        await Task.Delay(1000);

        Components.Remove(component);


        if (Components.Count == 0)
        {
            await CloseModal();
        }

        StateHasChanged();

        if (info != null)
            await SetInfo(info);

    }

    public void ExpandModal()
    {

        IsExpandModal = !IsExpandModal;

    }

    private bool shouldRender = true;

    protected override bool ShouldRender()
    {
        return shouldRender;
    }

    public async Task CloseModal()
    {

        Components = new();

        IsModalOpen = false;

        await JsRuntime.InvokeVoidAsync("OnModalClose");

        // StateHasChanged();

    }
}
